

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  
  input, button, textarea, select {
    font: inherit;
    border-radius: 1rem;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

:root {
  --padding-left: 5rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding-left: var(--padding-left);
    background-color: rgb(240, 239, 238);
    flex-grow: 1;
}

img.main {
    max-height: 100vh;
}

h1, h2, p {
    font-size: 1.5rem;
}

label {
  font-size: 1rem;
}

input {
    font-size: 1rem;
    width:15rem;
    border: 1px solid black;
    border-radius: 5px;
}

input:not(:focus):placeholder-shown {
  border-color: black;
}

input:invalid {
border-color: red;
}

input:valid,
input:not(:focus):valid {
border-color: green;
}

input:focus::placeholder {
  color: transparent;
}

.container {
    display: flex;
    justify-content: flex-start;
}

fieldset {
  margin-left: calc((var(--padding-left)*-1));
  padding-left: var(--padding-left);
  padding-bottom: 3rem;
  padding-top: 3rem;
  background: white;
}

section.form-columns {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    flex-grow: 1;
}

div.column-1 label,
div.column-1 input ,
div.column-2 label,
div.column-2 input {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 1rem;
  font-size: 1rem;
  background-color:rgba(127, 122, 109, 1);
  color: white;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

form p {
  font-size: 1rem;
}