/* Coolors Exported Palette - https://coolors.co/8a8576-7f7a6d-49483c-b7b0a2-cbcac4 */

/* CSS HEX */
--battleship-gray: #8A8576ff;
--battleship-gray-2: #7F7A6Dff;
--black-olive: #49483Cff;
--khaki: #B7B0A2ff;
--timberwolf: #CBCAC4ff;

/* CSS HSL */
--battleship-gray: hsla(45, 8%, 50%, 1);
--battleship-gray-2: hsla(43, 8%, 46%, 1);
--black-olive: hsla(55, 10%, 26%, 1);
--khaki: hsla(40, 13%, 68%, 1);
--timberwolf: hsla(51, 6%, 78%, 1);

/* SCSS HEX */
$battleship-gray: #8A8576ff;
$battleship-gray-2: #7F7A6Dff;
$black-olive: #49483Cff;
$khaki: #B7B0A2ff;
$timberwolf: #CBCAC4ff;

/* SCSS HSL */
$battleship-gray: hsla(45, 8%, 50%, 1);
$battleship-gray-2: hsla(43, 8%, 46%, 1);
$black-olive: hsla(55, 10%, 26%, 1);
$khaki: hsla(40, 13%, 68%, 1);
$timberwolf: hsla(51, 6%, 78%, 1);

/* SCSS RGB */
$battleship-gray: rgba(138, 133, 118, 1);
$battleship-gray-2: rgba(127, 122, 109, 1);
$black-olive: rgba(73, 72, 60, 1);
$khaki: rgba(183, 176, 162, 1);
$timberwolf: rgba(203, 202, 196, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #8A8576ff, #7F7A6Dff, #49483Cff, #B7B0A2ff, #CBCAC4ff);
$gradient-right: linear-gradient(90deg, #8A8576ff, #7F7A6Dff, #49483Cff, #B7B0A2ff, #CBCAC4ff);
$gradient-bottom: linear-gradient(180deg, #8A8576ff, #7F7A6Dff, #49483Cff, #B7B0A2ff, #CBCAC4ff);
$gradient-left: linear-gradient(270deg, #8A8576ff, #7F7A6Dff, #49483Cff, #B7B0A2ff, #CBCAC4ff);
$gradient-top-right: linear-gradient(45deg, #8A8576ff, #7F7A6Dff, #49483Cff, #B7B0A2ff, #CBCAC4ff);
$gradient-bottom-right: linear-gradient(135deg, #8A8576ff, #7F7A6Dff, #49483Cff, #B7B0A2ff, #CBCAC4ff);
$gradient-top-left: linear-gradient(225deg, #8A8576ff, #7F7A6Dff, #49483Cff, #B7B0A2ff, #CBCAC4ff);
$gradient-bottom-left: linear-gradient(315deg, #8A8576ff, #7F7A6Dff, #49483Cff, #B7B0A2ff, #CBCAC4ff);
$gradient-radial: radial-gradient(#8A8576ff, #7F7A6Dff, #49483Cff, #B7B0A2ff, #CBCAC4ff);